<main class="d-flex " style="margin-top: 35px; ">
    <div class="container " >
      
      <section class="my-4">        
          <div class=" py-1 bg-secondary mb-1 ">
            <h5 class="mb-0 text-center text-uppercase"><strong> School Statistics Overview </strong></h5>
          </div >  
          
             <div id="cardholder" class="row row-cols-1 row-cols-md-3 g-3 my-3 " >

                <div class="col">
                    <div class="card shadow-sm ms-3" >                      
                      <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold text-uppercase">Students Enrolled </h5>
                        <p class="card-text font-weight-bold "> 400 </p>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Card 2 -->
                  <div class="col">
                    <div class="card shadow-sm">                      
                      <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold text-uppercase"> No of teachers (20/2/2025) </h5>
                        <p class="card-text font-weight-bold"> 20 </p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card w-30 shadow-sm">                      
                      <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold text-uppercase"> No of Classes</h5>
                        <p class="card-text font-weight-bold "> 12 </p>
                      </div>
                    </div>
                  </div>
          
                 


        </div>

        <div id="cardholder" class="row row-cols-1 row-cols-md-3 g-3 my-2" >

            <div class="col">
                <div class="card shadow-sm ms-3" >                      
                  <div class="card-body ">
                    <h5 class="card-title text-center font-weight-bold text-uppercase "> No of Workers </h5>
                    <p class="card-text font-weight-bold text-primary"> 40 </p>
                  </div>
                </div>
              </div>
              
              <!-- Card 2 -->
              <div class="col">
                <div class="card shadow-sm">                      
                  <div class="card-body">
                    <h5 class="card-title text-center  text-uppercase"> Contracted Teachers</h5>
                    <p class="card-text font-weight-bold text-primary"> 20 </p>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card w-30 shadow-sm">                      
                  <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold text-uppercase"> Today's Absenteeism </h5>
                    <p class="card-text font-weight-bold text-primary"> 12 %</p>
                  </div>
                </div>
              </div>
      
             


    </div>


    <div id="cardholder" class="row row-cols-1 row-cols-md-3 g-3 my-2" >

      <div class="col">
          <div class="card shadow-sm ms-3" >                      
            <div class="card-body ">
              <h5 class="card-title text-center font-weight-bold text-uppercase "> Students Present </h5>
              <p class="card-text font-weight-bold text-primary"> 40 </p>
            </div>
          </div>
        </div>
        
        <!-- Card 2 -->
        <div class="col">
          <div class="card shadow-sm">                      
            <div class="card-body">
              <h5 class="card-title text-center font-weight-bold text-uppercase"> Students Absent </h5>
              <p class="card-text font-weight-bold text-primary"> 20 </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card w-30 shadow-sm">                      
            <div class="card-body">
              <h5 class="card-title text-center font-weight-bold text-uppercase"> Staff Absent</h5>
              <p class="card-text font-weight-bold text-primary"> 12 %</p>
            </div>
          </div>
        </div>

       


</div>
                         
        
      </section>  
      
    </div>
  </main>