<header *ngIf="!isLoginPage" > 
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-secondary" >  
  <div class="position-sticky">
  <div class="collapse d-lg-block sidebar collapse  flex-shrink-0 p-3 d-flex flex-column mt-5" style="width: 280px; " >
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">Mutitu School</span>
  </a>
  <ul class="list-unstyled ps-0 vh-100">
    <li class="mb-1">
      <button routerLink="dashboard" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse"  aria-expanded="false">
      Dashboard
      </button>
      
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Set Modules
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="addgrade" class="link-body-emphasis d-inline-flex text-decoration-none rounded"> Set Grading System</a></li>
          <li><a  routerLink="addstream"  class="link-body-emphasis d-inline-flex text-decoration-none rounded"> Add Stream</a></li>
          <li><a routerLink="addclass" class="link-body-emphasis d-inline-flex text-decoration-none rounded"> Add Class </a></li>
          <li><a routerLink="addsubject" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add Subject </a></li>
          <li><a routerLink="addroles" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add Roles</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Manage Students 
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="addstudent" class="link-body-emphasis d-inline-flex text-decoration-none rounded"> Add Student</a></li>
          <li><a routerLink="viewstudents" class="link-body-emphasis d-inline-flex text-decoration-none rounded">View & Edit Students</a></li>          
          
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#hr-collapse" aria-expanded="false">
        Manage Human Resources 
      </button>
      <div class="collapse" id="hr-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="addworker" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add Human Resources </a></li>
          <li><a routerLink="viewworkers" class="link-body-emphasis d-inline-flex text-decoration-none rounded">View & Edit  Human Resources </a></li>
          
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#exam-collapse" aria-expanded="false">
        Exam Modules
      </button>
      <div class="collapse" id="exam-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="createexam" class="link-body-emphasis d-inline-flex text-decoration-none rounded"> Create an Exam </a></li>
          <li><a routerLink="addmarks" class="link-body-emphasis d-inline-flex text-decoration-none rounded"> Add Exam Scores</a></li>
          <li><a routerLink="viewresults" class="link-body-emphasis d-inline-flex text-decoration-none rounded"> View Results </a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account Settings
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="resetuserpassword" class="link-body-emphasis d-inline-flex text-decoration-none rounded"> Reset Passwords </a></li>
        </ul>
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"> Change Password</a></li>
        </ul>
      </div>
    </li>
  </ul>
       </div>
      </div>
      </nav>
  
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary" >
      <div class="container-fluid">   
        
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <!-- Avatar -->
          <li class="nav-item" >           
              <img src="/assets/images/usericon.png" class="rounded-circle" height="20"  alt="Portrait of a Woman"  loading="lazy" />     
          </li>
          <li class="nav-item me-3"> <a class="nav-link text-lowercase " href="#"> {{username }} </a>    </li>
        <li class="nav-item"> <button data-mdb-ripple-init type="button" (click)="logout()" class="btn btn-primary"> Log Out </button>   </li> 
             
        </ul>
      </div>
    </nav> 
    </header> 
     
    <router-outlet> </router-outlet> 
  
 

 

