<main class="d-flex mt-3" >
    
    <div class="container ms-4 mt-4 " >
    <div class=" py-1 bg-secondary mb-1 mt-4 ">
        <h5 class="text-center"><strong> View and Edit Human Resources Info  </strong></h5>
    </div>
    <div class=" card " >
    <!-- Name input -->
     <div class="row px-1">
      <div data-mdb-input-init class="col form-outline mt-2 mb-3">
        <label class="form-label" for="form7Example1"> Search By ID No or Name or PF NO </label>
        <input type="text" id="form7Example1" class="form-control border border-dark" />    
      </div>
      
      <div data-mdb-input-init class="col form-outline mt-2 mb-3 ">
        <button type="button" class="btn btn-primary" style="margin-top: 2rem;" > Search  </button>   
      </div>
    </div>
    
    </div>
    <div class=" py-1 bg-secondary mt-1 ">
        <h5 class="text-center"><strong> The School HR  List </strong></h5>
    </div>
    <div class="mt-1">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"> Employee No  </th>
                <th scope="col">Full Names </th>
                <th scope="col"> Roles </th>
                <th scope="col"> Phone Number </th>
                <th scope="col"> Actions </th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>
    
    
      
     
    
    </div>
    
    </main>
    

