<main class="d-flex mt-3" >
    
    <div class="container ms-4 mt-4 " >
    <div class=" py-1 bg-secondary mb-1 mt-4 ">
        <h5 class="mb-0 text-center"><strong> View and Edit Students Info  </strong></h5>
    </div>
    <div class="bg-secondary " >
    <!-- Name input -->
    <div class="card" >
     <div class="row ms-2">
     
      <div data-mdb-input-init class="col form-outline mt-1 mb-1">
        <label class="form-label" for="form7Example1"> Search By Admission No or Name  </label>
        <input type="text" id="form7Example1" class="form-control border border-dark" />    
      </div>
      
      <div data-mdb-input-init class="col form-outline mt-1 mb-1 ">
        <button type="button" class="btn btn-primary" style="margin-top: 2rem;" data-mdb-ripple-init> Search  </button>   
      </div>
    </div>
  </div>
    
    </div>
    <div class=" py-1 bg-secondary mt-1 ">
        <h5 class="text-center"><strong> The School Admission List </strong></h5>
    </div>
    <div class="mt-1">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Admn No  </th>
                <th scope="col">Full Names </th>
                <th scope="col"> Class </th>
                <th scope="col"> Actions </th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>
    
    
      
     
    
    </div>
    
    </main>
    
