<main class="d-flex ms-4 mt-3" >
    
    <div class="container ms-4 mt-4 " >
    <div class=" py-1 bg-success mb-1 mt-4 ">
        <h5 class="mb-0 text-center"><strong> Reset User Passwords   </strong></h5>
    </div>
    <div class="bg-secondary " >
    <!-- Name input -->
    <div class="row ms-1">
    <div data-mdb-input-init class="col form-outline mt-2 mb-3">
        <label class="form-label" for="form7Example1">  User Email </label>
        <label class="form-label" for="form7Example1">  * Note Password will be reset to registered Phone Numbers   </label>
        <input type="text" id="form7Example1" class="form-control" />  
      </div> 

      
      <div data-mdb-input-init class="col form-outline mt-2 mb-3 ">
        <button type="button" class="btn btn-primary" style="margin-top: 4rem;" data-mdb-ripple-init> Reset</button>   
      </div>
    
    </div>    
     
    
    </div>
    </div>
    </main>
    


  



